ChunkEditor/bin/
ChunkEditor/obj/
Content/*.dll
*.exe
*Thumbs.db
*.pdb
*.manifest
ServerCommandLine/bin/
ServerCommandLine/obj/
ScriptsShared/obj/
ScriptsShared/bin/
ScriptsServer/obj/
ScriptsClient/bin/
LewtClient/obj/
Lewt.v11.suo
LewtClient/bin/
ResourceArchiveBuilder/obj/
ResourceLib/obj/
LewtShared/obj/
LewtServer/bin/
Lewt/bin/
Lewt/obj/
LewtServer/obj/
LewtShared/bin/
pingme.txt
ScriptsServer/bin/
ResourceLib/bin/
