Content/*.dll
*.exe
*Thumbs.db
*.pdb
*.manifest
ChunkEditor/obj/
ChunkEditor/bin/
ServerCommandLine/obj/
ServerCommandLine/bin/
ScriptsShared/obj/
ScriptsShared/bin/
ScriptsServer/obj/
ScriptsServer/bin/
ScriptsClient/obj/
ScriptsClient/bin/
LewtClient/obj/
LewtClient/bin/
ResourceArchiveBuilder/obj/
ResourceArchiveBuilder/bin/
ResourceLib/obj/
ResourceLib/bin/
LewtShared/obj/
LewtServer/bin/
Lewt/bin/
Lewt/obj/
LewtServer/obj/
LewtShared/bin/
*.suo
pingme.txt
